a{
	text-decoration: none!important;
}
div{
	display: block;
}
h1,h2,h3,h4,h5,h6,p,span,a,img,div,i,input,textarea,body,header,nav,ul,li,nav,header,.img-fluid{
	margin: 0;
	padding: 0;
}
.container-fluid{
	padding: 0;
}
.custom-container{
	padding: 0 30px;
}
.v-center{
	display: flex!important;
	align-items: center!important;
}
.w-center{
	display: flex!important;
	justify-content: center!important;
}

.w-end{
	display: flex!important;
	justify-content: flex-end!important;
}
.vw-center{
	display: flex!important;
	align-items: center!important;
	justify-content: center!important;
}
.paddingy{
	padding: 7% 0;
}
.paddingy-sm{
	padding: 4% 0;
}
.textsm{
	font-size: 13px;
}
.dp-none{
	display: none;
}
.ul{
	padding-left: 0;
	list-style-type: none!important;
}

/*=====================================================================================*/

/*DISPLAY-NONE*/
@media screen and (max-width: 992px){
	.dp-lg-none{
		display: none!important;
	}
	.dp-lg-block{
		display: block!important;
	}
}
@media screen and (max-width: 768px){
	.dp-md-none{
		display: none!important;
	}
	.dp-md-block{
		display: block!important;
	}
}
@media screen and (max-width: 576px){
	.dp-sm-none{
		display: none!important;
	}
	.dp-sm-block{
		display: block!important;
	}
}
@media screen and (max-width: 425px){
	.dp-xs-none{
		display: none!important;
	}
	.dp-xs-block{
		display: block!important;
	}
}
/*=====================================================================================*/
/*CLOSE-BTN*/

/*<button class="btn-menu">*/
	/*<div class="box-btn">
		<input type="checkbox" class="btn">
		<div class="btn-nav"></div>
		<div class="btn-ex"></div>
	</div>*/
/*</button>*/
button.btn-menu{
	background-color: transparent!important;
	border: 0;
	overflow: hidden;
	cursor: default!important;
}
.box-btn{
	position: relative;
	width: 50px;
	height: 50px;
	top: 0;
	left: 0;
}
.box-btn .btn-ex::before{
	content: ' ';
	position: absolute;
	top: 22.5px;
	left: 0;
	border-radius: 5px; 
	background-color: blue; 
	width: 50px;
	height: 5px;
	transition: all .3s;
}
.box-btn .btn-nav::after{ 
	position: absolute;
	content: ' ';	
	width: 50px; 
	top: 5px; 
	border-radius: 5px; 
	background-color: red; 
	transition: all .3s;
	height: 5px;
	left: 0; 
}
.box-btn .btn-nav::before{ 
	position: absolute; 
	content: ' ';
	width: 50px; 
	height: 5px;
	bottom: 5px;
	left: 0; 
	border-radius: 5px; 
	background-color: red;
	transition: all .5s;
}
.box-btn input{
	position: absolute;
	top: 0;
	left: 0;
	height: 50px!important;
	width: 50px!important; 
	margin: 0; 
	z-index: 9;
	opacity: 0;
	cursor: pointer;
}

.box-btn input:checked~.btn-nav::after{

	transform:translate(0px, 17.5px);
	animation-name: hi; 
	animation-duration: .4s;
	animation-delay: .2s;
	animation-fill-mode: forwards;
}
@keyframes hi{
	from{
	}
	to{
		transform: rotate(45deg) translate(10px, 15px);
	}
}
.box-btn input:checked~.btn-nav::before{
	transform: translate(0px, -17.5px);
	animation-name: hi2; 
	animation-duration: .4s;
	animation-delay: .2s;
	animation-fill-mode: forwards;
}
@keyframes hi2{
	from{
	}
	to{
		transform: rotate(-45deg) translate(10px, -15px);
	}
}
.box-btn input:checked~.btn-ex::before{
	opacity: 0;
}
.box-btn div{
	background-color: red!important;
}

/*==========================================================================================*/

/*ZOOMING-IMAGE*/
.zoom_img{
	display: inline-block;
	overflow: hidden;
	position: relative;
	background-color: white;
	height: 100%;
	width: 100%;
}
.zoom_img img{
	transition: all ease-in-out 500ms;
	-webkit-transition: all ease-in-out 500ms;
	max-width: 100%;
	min-height: 100%;
}
.zoom_img:hover img{
	transform: scale(1.025,1.025) !important;
	-webkit-transform: scale(1.025,1.025);
	opacity: 0.5 !important;
}


.gradient-bg-1{
	background: linear-gradient(to right,#00d8ad,#d2aaf9)!important;
	background-size: cover;
}
.gradient-bg-2{
	background: linear-gradient(to right,#3987f4,#cd3178)!important;
	background-size: cover;
}

/*=====================================================================================*/

/*.BTN-BORDER-GRAD AT HOVER*/

.btn-border-grad-h {
	height: 3rem;
	width: 10rem;
	position: relative!important;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	cursor: pointer;
	z-index: 1;
}
/*
.btn-border-grad-h:hover{
	color: white;
}*/
.btn-border-grad-h::before{
	content: ' ';
	height: 100%!important;
	width: 100%!important;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: #111827;
}
.btn-border-grad-h:hover::after{
	content: ' ';
	height: calc(100% + 10px)!important;
	width: calc(100% + 10px)!important;
	position: absolute;
	top: -5px;
	left: -5px;
	z-index: -2;	
	background-image: linear-gradient(90deg, deeppink, deepskyblue, lawngreen, deeppink);
	background-size: 300% 100%;
	animation: btn 3s ease infinite;
}
@keyframes btn {

	to{
		background-position: 0% 0% ;
	}

	50% {
		background-position: 90% 0%;
	}
	100% {
		background-position: 0% 0%	;
	}

}
./*BTN-BORDER-GRAD*/
.btn-border-grad {
	height: 3rem;
	width: 10rem;
	position: relative!important;
	display: flex; 
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	cursor: pointer;
	z-index: 1;
}
/*
.btn-border-grad:hover{
	color: white;
}*/
.btn-border-grad::before{
	content: ' ';
	height: 100%!important;
	width: 100%!important;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	background-color: #111827;
}
.btn-border-grad:hover::after{
	content: ' ';
	height: calc(100% + 10px)!important;
	width: calc(100% + 10px)!important;
	position: absolute;
	top: -5px;
	left: -5px;
	z-index: -2;	background-image: linear-gradient(90deg, deeppink, deepskyblue, lawngreen, deeppink);
	background-size: 300% 100%;
	animation: btn 3s ease infinite;
}
@keyframes btn {

	to{
		background-position: 0% 0% ;
	}

	50% {
		background-position: 90% 0%;
	}
	100% {
		background-position: 0% 0%	;
	}

}
/*=====================================================================================*/
/*HOVER_AFTER_SHADOW*/

.btn-after-shadow{
	width: 150px;
	height: 50px;
	text-align: center;
	line-height: 50px;
	/*border: 2px solid rgb(12,1,22);*/
	border-radius: 2px;
	color: rgb(12,1,22);
	font-weight: bold;
	background-color: rgba(12,1,22,0.3);
	cursor: pointer; 
	position: relative;
}
.btn-after-shadow:hover { 
	background-color: rgba(12,1,22,0.8); 
	color: white; 
	transition: 1s ease;
}
.btn-after-shadow::before {
	content: ' ';
	position: absolute;
	left: 0;
	top: 40px;
	background: transparent;
	height: 50%;
	width: 100%;
	transform: perspective(1em) rotateX(48deg) scale(1, 0.35);
	filter: blur(8px); 
	transition: 1s ease;
}
.btn-after-shadow:hover::before { 
	background: rgba(12,1,22,0.8); 
	top: 60px;
}


/*SHINE BUTTON*/


.shine{
	background-color: #3b3b3b;
	position: relative;
	color: white;
	z-index: 0;
	transition: all 0.3s;
	/*min-width: 200px;	*/
	border: none;
	box-sizing: border-box;	
	padding: 18px 30px;
	font-size: 16px;
	color: #fff;
}
.shine::before{
	content: "";
	position: absolute;	
	top: 0;
	display: block;
	left: -50px;
	width: 70%;
	height: 100%;
	background: linear-gradient(90deg, transparent,#ffffff71,transparent);
	transition: all 1s;
	z-index: -1;
	transform: translateX(-120px) skew(-20deg);
}
.shine:hover::before{
	transform: translateX(300px) skew(-20deg);

}