.container{
	width: 65%;
	margin: 0 auto;
	padding: 0;
}
a{
	text-decoration: none;
}
.container-fluid{
	margin: 0 auto;
	padding: 0;
}
.textsm{
	font-size: 12px;
}
.xsmall{
	font-size: 10px;
}
.mynav span{
	font-weight: bold;
}
.download{
	background-color: rgb(111,211,80);
	padding: 7% 15%;
	border-radius: 4px;
}
.download:hover{
	background-color: lightgreen;
}
.headbg{
	background-image: url(../images/head.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	padding: 7% 0%;
	height: auto;

}
.download2{
	background-color: gold;
	color: rgba(0, 0, 0,0.9);
	padding: 7px 25px;
	font-weight: bolder;
	border: 1px solid yellow;
	border-radius: 0px;
}
.download2:hover{
	background-color: yellow;
}
.bg1{
	background-image: url(../images/1.jpg);
	background-size: 80% 100% ;
	background-repeat: no-repeat;
}
.bg2{
	background-image: url(../images/4.jpg);
	background-size: 80% 100% ;
	background-repeat: no-repeat;
}
.emailbtn{
	padding: 2% 5%;
}
.submitbtn{
	padding: 2% 5%;
	background-color: rgb(103,91,255);
	border: 0;
	color: white;
	font-weight: bolder;
	margin-top: 10px;

}
.submitbtn:hover{
	background-color: rgb(105,75,230);
}
.imgstartselling{
	background-image: url(../images/1.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	min-height: 30vh;
	padding: 0;
	margin: 0;
}
.img-fluid, .card{
	border-radius: 0% 0%;
	border: 0;
	padding: 0;
	margin: 0;
}
.sidebarhigt{
	height: 33%;
}
.abovefooter{
	background-color: yellow;
}
.icons{
	background-color: white;
	padding: 3%;
}
footer{
	background-color: rgb(23,30,39);
}
.hover:hover{
	cursor: pointer;
	border-bottom:1px dotted grey;
}
.contacthere{
	border-bottom:1px dotted grey;
}